In [63]:
import requests
import pandas as pd


def get_kraken_data(pair, names):

    mapping = {
        "Ask_Price": "a",
        "Bid_Price": "b",
        ""
        "Opening_Price": "o",
        "Volume": "v"
    }

    url = "https://api.kraken.com/0/public/Ticker?pair=" + pair

    payload = {}
    headers = {'Accept': 'application/json'}

    response = requests.request(
        "GET",
        url,
        headers=headers,
        data=payload
        )

    text = response.json().get("result")
    sub_text = text[next(iter(text))]


    names = ["Opening_Price", "Volume"]

    first_value, second_value = [
        sub_text.get(key) for key
        in (mapping.get(name, None) for name in names)
        ]

    values = {
        k: float(v) for k, v
        in zip(names, (first_value, second_value[0]))
        }   

    return values

In [47]:
import http.client

conn = http.client.HTTPSConnection("api.kraken.com")
payload = ''
headers = {
  'Accept': 'application/json'
}
conn.request("GET", "/0/public/Ticker?pair=XBTUSD", payload, headers)
res = conn.getresponse()
data = dict(res.read())

data

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [66]:
ticker = "XXBTZEUR"

def get_market_data(ticker: str = "XXBTZUSD"):
    
    # Daily interval
    interval = str(60*24)

    # Construct the API URL for fetching OHLC data
    url = f"https://api.kraken.com/0/public/OHLC?pair={ticker}&interval={interval}"

    # Set up request headers
    headers = {
        'Accept': 'application/json'
    }

    try:
        # Make the request to the Kraken API
        response = requests.request(
            "GET", url, headers=headers,
            data={}, timeout=10
        )
    except requests.exceptions.Timeout as e:
        # Print timeout exception message
        print(e)

    # Parse the JSON response into a DataFrame
    df = pd.DataFrame(
        response.json()['result'][ticker],
        columns=['timestamp', 'open', 'high', 'low',
                    'close', 'vwap', 'volume', 'count'],
        dtype=float
    )

    # Convert timestamps to datetime and set as index
    df['timestamp'] = pd.to_datetime(df['timestamp'], unit='s')

    return df

In [67]:
df

,timestamp,open,high,low,close,vwap,volume,count
0,2023-02-02,21544.1,22100.0,21450.0,21536.3,21744.5,1798.358120,30652.0
1,2023-02-03,21548.7,21862.5,21380.0,21712.3,21598.4,1293.297269,27644.0
2,2023-02-04,21712.3,21843.0,21551.1,21594.5,21662.9,657.177423,16621.0
3,2023-02-05,21594.5,21691.7,21112.0,21258.0,21386.3,809.394408,21638.0
4,2023-02-06,21264.8,21568.3,20940.9,21223.5,21265.8,1002.323359,27431.0
...,...,...,...,...,...,...,...,...
715,2025-01-17,96994.3,102881.2,96971.1,101164.1,100699.2,1264.061373,41219.0
716,2025-01-18,101164.1,101777.0,99149.9,101466.6,100568.0,373.828802,20926.0
717,2025-01-19,101466.6,103498.0,96978.3,98550.1,101226.6,1027.140000,37070.0
718,2025-01-20,98527.6,105884.0,96779.4,98011.0,102162.8,2057.955778,61295.0
719,2025-01-21,98076.7,101245.9,96550.0,99776.5,99185.6,392.929528,19412.0